body {
        background: rgb(103, 103, 251);
        color: white;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    #msg{
        background: orange;
    }